<p>If you like us, please give us your email to get yourself connected to us!</p>
<form action="activate" method="post">
    <label for="email">Email : </label>
    <input type="email" name="email" />
    <br />
    <input type="submit" value="submit" />
</form>